# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
launcher-backend

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

*.db
*.db-wal
*.db-shm

# News cache (survive restart)
news-cache.json

# Files directory
files/
